.artdirection-grid {
  grid-auto-rows: 10px 10px 380px;
  padding-left:30px;
  }
.noodle{
  background-image: url("/images/potnoodle.jpg");
  grid-column: 1/span 1;
  grid-row: 3/span 1;
  &:hover{
    background-image: url("/images/potnoodle-overlay.jpg");
  }
}
.armour{
  background-image: url("/images/rmr.jpg");
  grid-column: 2/span 1;
  grid-row: 2/span 2;
  &:hover{
    background-image: url("/images/rmr-overlay.jpg");
  }
}
.sauc{
  background-image: url("/images/saucony.jpg");
  grid-column: 3/span 1;
  grid-row: 1/span 3;
  &:hover{
    background-image: url("/images/saucony-overlay.jpg");
  }
}
