.webdev-grid {
  grid-auto-rows: 380px 10px 10px;
  padding:0 30px 0 0;
  }
.instanews{
  background-image: url("/images/instanews.jpg");
  grid-column: 1/span 1;
  grid-row: 1/span 3;
  &:hover{
    background-image: url("/images/instanews-overlay.jpg");
  }
}
.aloha{
  background-image: url("/images/aloah.png");
  grid-column: 2/span 1;
  grid-row: 1/span 2;
  &:hover{
    background-image: url("/images/aloah-overlay.jpg");
  }
}
.merrell{
  background-image: url("/images/merrell.jpg");
  grid-column: 3/span 1;
  grid-row: 1/span 1;
  &:hover{
    background-image: url("/images/merrell-overlay.jpg");
  }
}
