
.work-divider {
  height: 200px;
  background-image: url(../images/aleksandra-khaprenko-1300874-unsplash.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  transform: skewY(355deg);
  margin-top:4.3%;
}

.work-title {
  height:100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.work-title > h2{
  font-family: 'montserrat';
  font-weight: 200;
  font-size: 50px;
  color: #393743c2;
  margin-left:5%;
  transform:rotate(-355deg);
}

